@model HCApp.order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.servicetypeid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicetypeid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderstatusid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderstatusid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimatedhours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimatedhours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actualhours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actualhours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.perferredgenieid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.perferredgenieid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialrequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialrequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateplaced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateplaced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datecompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datecompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pricepaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pricepaid)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
